// colors
$color-emphasize: #B80F0A;
$color-background: #F6F6F6;
$color-main-text: #292827;
$color-secondary-text: #484644;
$color-section-text: #663938;

// whitespace
$screen-left-right-space: 2rem;
$screen-top-bottom-space: 1rem;

// font sizes
$font-size-30: 30px;
$font-size-25: 25px;
$font-size-20: 20px;
$font-size-16: 16px;