@import "utils";

$blue: #4A90E2;
$yellow: #F39C12;
$red: #BD4A4D;
$grey: #484644;

.mainTitle {
  font-size: toEm(48);
}
.navTitle {
  font-size: toEm(24);
  text-decoration: none;
}
.subTitle {
  font-size: toEm(36);
}

.greyText {
  color: $grey;
}
.blueText {
  color: $blue !important;
}
.yellowText {
  color: $yellow !important;
}
.redText {
  color: $red !important;
}
.blackText {
  color: #000;
}

%divider {
  border: 0;
  padding: 0;
  margin: 0;
}
%horizontalDivider {
  @extend %divider;
  width: 100%;
  height: 1px;
}

.redDivider {
  @extend %horizontalDivider;
  background: linear-gradient(to left, $grey, $red);
}
.yellowDivider {
  @extend %horizontalDivider;
  background: linear-gradient(to left, $yellow, $grey);
}
.blueDivider {
  @extend %divider;
  width: 1px;
  height: 100%;
  background: linear-gradient(to bottom, $blue, $grey);
}